---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />

<style type="text/css">
	body { background:#ffffff; }
	@media screen and (max-width: 800px){
		body { background:#ffffff; }
	}
</style>

<div id="content">

	<div class="blog">
		<h1 class="blog-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
		<p class="blog-date">{{ page.date|date:"%Y-%m-%d" }}</p>

		{{ content }}

		<!-- 评论 -->
		<div id="disqus_thread"></div>
		<script>
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//jerakrs.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

	</div>

	<a id="gotop" href="#">
		<span>▲</span>
	</a>
</div>

<script src="/js/post.js" type="text/javascript"></script>
<script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
